<%= background_image @user if @user %>
<% content_for :jsload do %>

  $("#user-post-tabs").tabs().show().removeClass('ui-widget-content').find("*").removeClass("ui-widget-header ui-corner-all ui-corner-top");
  $('.sidebar #tabs-holder').html($("#user-post-tabs ul"));

<% end %>
  <div class="in">

  
<% if false %>
    <div class="title no-link-decoration">
      <span class="icon-color action-repo"></span>
      <%= link_to T.t('page.user.sidebar.email_verified').capitalize, profile_path(@user.username) %>
      <div class="clear">
      </div>
    </div>
<% end %>
    
    <%= content_tag :p,
      raw("#{content_tag(:strong, T.t('page.user.sidebar.user').capitalize)} #{link_to_username_mention @user.username}") %>
    <%= content_tag :p,
      raw("#{content_tag(:strong, T.t('page.user.sidebar.bio').capitalize)} #{@user.bio}") %>
    <%= content_tag :p,
      raw("#{content_tag(:strong, T.t('page.user.sidebar.web').capitalize)} #{link_to @user.website_dots, @user.website, :target=>'_blank'}") %>

  </div>

<% if false %>

  <table class="in no-link-decoration">
    <tr>
      <% a = raw("#{content_tag :strong, @user.rch[:followings]} #{content_tag :span, T.t('page.user.sidebar.columns.followings').downcase}") %>
      <td><%= link_to a, username_followings_url(@user.username) %></td>

      <% a = raw("#{content_tag :strong, @user.rch[:followers]} #{content_tag :span, T.t('page.user.sidebar.columns.followers').downcase}") %>
      <td><%= link_to a, username_followers_url(@user.username) %></td>

      <% a = raw("#{content_tag :strong, @user.rch[:friends]} #{content_tag :span, T.t('page.user.sidebar.columns.friends').downcase}") %>
      <td><%= link_to a, username_friends_url(@user.username) %></td>
    </tr>
  </table>
  
<% end %>




  <div class="clear">
  </div>

  <div id="tabs-holder" class="in-v">
  </div>
  
  <div class="clear">
  </div>


  <div class="in">
    
    <% if false %>
    <div class="clear line">
    </div>
    <div class="users">
      <div class="user">
        <%= link_to raw('<img width="48" height="48" src="http://images.wikia.com/deadliestfiction/images/4/47/Dexter_Morgan.jpg"/>'), profile_path(@user.username), :class=>'photo' %>
        <span>Está num relacionamento sério com </span>
        <%= link_to @user.fullname, profile_path(@user.username), :class=>'strong' %>
      </div>
    </div>
    <% end %>

    <div class="clear line">
    </div>
  
    <%= link_to "Amigos de @#{@user.username}", '/', :class=>"list-title strong" %>
    <div  id="sidebar_user_list"
          class="users"
          data-ajaxload-event="load"
          data-ajaxload-url="<%= user_ajax_relations_sidebar_friend_url(@user) %>"
          data-ajaxload-target="#sidebar_user_list"
          >
    </div>
    
    <div class="clear line">
    </div>
    
  </div>
