<% cache [:users, :recent, :photo_ids, @users.map(&:user_photo_id).join('-')] do %>
<script>registerContextMenu();</script>
  <% @users.each do |user| %>
    <div class="user">
      <%= link_to image_tag(user.p_, :width=>48, :height=>48), profile_path(user.username), :class=>'photo' %>
      <%=  %>
      <%= link_to user.fullname, profile_path(user.username), :class=>'strong' %>
      <br/>
      <%= link_to_username user.username %>
      <div class="clear">
      </div>
    </div>
  <% end %>
  <%# if @users.last %>
  <% if false %>
  <% more_url = users_path(:before=>@users.last.id) %>
  <%= content_tag :li, link_to("MORE", "#", :class=>'more', :'data-url'=>more_url, :style=>'background-image:none') %>
  <% end %>
<% end %>
