<%content_for :jsload do %>
  functions.home.ajax.append_behaviour();
<% end %>

<div id="home-form-tabs" class="in">
	<ul>
		<li class="disabled">
      <span class="ui-icon icon-color action-repost"></span>
      <%= T.t('page.home.form_tabs.share').capitalize %>:
		  </li>
		<li><a href="#tabs-1">
      <span class="ui-icon icon-color post-text selected"></span>
		  <%= T.t('page.home.form_tabs.status').capitalize %>
		  </a></li>
		<li><a href="#tabs-2">
      <span class="ui-icon icon-color post-image"></span>
		  <%= T.t('page.home.form_tabs.image').capitalize %>
		</a></li>
	</ul>
	<div id="tabs-1">

<%= form_tag create_status_posts_url, :remote=>true, :class=>'new_topic', :id=>'create_status' do %>
  <div class="field">
    <%= text_area_tag :body, @mention, :rows=>3, :maxlength=>196 %>
    <span class="chars">196</span>
    <%= submit_tag "Executter" %>
    <div class="clear">
    </div>
  </div>
  
<% end %>
		
	</div>
	<div id="tabs-2">


<%= form_tag create_image_posts_url, :multipart=>true, :class=>'new_topic', :id=>'create_image' do %>
  <div class="field">
    <%= text_area_tag :body, '', :rows=>3, :maxlength=>196 %>
    <span class="chars">196</span>
    <%= submit_tag "Executter" %>
    <div class="clear">
    </div>
  </div>
  <strong><%= T.t('page.home.form_tabs.image').upcase %>: </strong>
  
  <%= file_field_tag :image %>
<% end %>

		
	</div>
</div>
