<script type="text/javascript">
  functions.home.ajax.append_behaviour();
  if (mention_username) {
    mention(mention_username);
    mention_username=false;
  }
  $("#home-form-tabs textarea:first").focus();
</script>

<div id="home-form-tabs" class="in" style="display:none">
	<ul>
		<li class="disabled">
      <span class="ui-icon icon-color action-repost"/>
      <%= T.t('page.home.form_tabs.share').capitalize %>:
		  </li>
		<li><a href="#tabs-1">
      <span class="ui-icon icon-color post-text selected"/>
		  <%= T.t('page.home.form_tabs.status').capitalize %>
		  </a></li>
		<li><a href="#tabs-2">
      <span class="ui-icon icon-color post-image"/>
		  <%= T.t('page.home.form_tabs.image').capitalize %>
		</a></li>
		<li><a href="#tabs-3">
      <span class="ui-icon icon-color post-audio"/>
		  <%= T.t('page.home.form_tabs.audio').capitalize %>
		</a></li>
		<li><a href="#tabs-4">
      <span class="ui-icon icon-color post-file"/>
		  <%= T.t('page.home.form_tabs.file').capitalize %>
		  
		</a></li>
	</ul>
	<div id="tabs-1">

<%= form_tag create_status_posts_url, :multipart=>true, :class=>'new_topic' do %>
  <div class="field">
    <%= text_area_tag :body, '', :rows=>3, :maxlength=>196 %>
    <span class="chars">196</span>
    <%= submit_tag "Executter" %>
    <div class="clear">
    </div>
  </div>
  
<% end %>
		
	</div>
	<div id="tabs-2">


<%= form_tag create_image_posts_url, :multipart=>true, :class=>'new_topic' do %>
  <div class="field">
    <%= text_area_tag :body, '', :rows=>3, :maxlength=>196 %>
    <span class="chars">196</span>
    <%= submit_tag "Executter" %>
    <div class="clear">
    </div>
  </div>
  <strong><%= T.t('page.home.form_tabs.image').upcase %>: </strong>
  
  <%= file_field_tag :image %>
<% end %>

		
	</div>
	<div id="tabs-3">


<%= form_tag create_audio_posts_url, :multipart=>true, :class=>'new_topic' do %>
  <div class="field">
    <%= text_area_tag :body, '', :rows=>3, :maxlength=>196 %>
    <span class="chars">196</span>
    <%= submit_tag "Executter" %>
    <div class="clear">
    </div>
  </div>
  <strong><%= T.t('page.home.form_tabs.audio').upcase %>: </strong>
  <%= file_field_tag :audio %>
<% end %>

		
	</div>
	<div id="tabs-4">


<%= form_tag create_other_posts_url, :multipart=>true, :class=>'new_topic' do %>
  <div class="field">
    <%= text_area_tag :body, '', :rows=>3, :maxlength=>196 %>
    <span class="chars">196</span>
    <%= submit_tag "Executter" %>
    <div class="clear">
    </div>
  </div>
  <strong><%= T.t('page.home.form_tabs.file').upcase %>: </strong>
  
  <%= file_field_tag :other %>
<% end %>
		
		
	</div>
</div>
