<% content_for :jsload do %>
  functions.posts.ajax.append_behaviour();
  functions.posts.more.append_behaviour();
  <%= "mention_username = ':mention';".gsub(':mention', params[:mention]) if params[:mention] %>
<% end %>
<style>
  #smiles { clear:both }
  #smiles ul {}
  #smiles li {float:left;width:48px;margin-bottom:16px;}
</style>

<% if cu_ro.admin? %>
  <div class="in">
  <%= request.user_agent %>
  </div>
<% end %>
  
  <div  id="home-form-tabs-holder"
        data-ajaxload-event="load"
        data-ajaxload-url="<%= h_forms_path %>"
        data-ajaxload-nocache="true"
        data-ajaxload-target="#home-form-tabs-holder"
        >
  </div>

  <%#= image_tag Smile.first.image.url, :rel=>"#smiles" %>

  <div id="smiles">
    <ul>
      <% Smile.where(:is_visible=>true).each do |smile| %>
        <li>
          <%= smile.key %>
          <%= image_tag smile.image.url, :alt=>smile.key %>
        </li>
      <% end %>
    </ul>
    <div class="clear">
    </div>
  </div>
  
  <div id="home-news-holder">
  </div>

  <div id="home-post-tabs" style="display:none">
    <ul class="in-h">
      <%= li link_to T.t('page.home.post_tabs.home'),  h_posts_followings_all_url %>
      <%= li link_to T.t('page.home.post_tabs.image'), h_posts_followings_image_url %>
      
      <%= li link_to "@ #{@user.pch[:mentions]}",  ajax_search_posts_url(:search=>@user.u_) %>
      <%= li link_to @user.living_city.l_,         ajax_search_posts_url(:search=>@user.living_city.l_) if @user.living_city %>
      <% if false %>
      <li><%= link_to T.t('page.home.post_tabs.status'),        :h_posts_followings_status %></li>
      <li><%= link_to T.t('page.home.post_tabs.my_followers'),  :h_posts_followers %></li>
      <% end %>
    </ul>
  </div>

