- @posts.each do |post|
  - user = User.kv_find(post.user_id)
  - original_post = post.post || post
  .post
    .post-left
      = my_image_tag user.p_, :dimensions=>32
    .post-right
      %p
        = raw link_to_username user.u_
        = my_post_links post.cached_body
      %p.actions
        =link_to nice_time(post.created_at), mobile_post_path(post.id)
        =link_to "#{post.posts_count} comments", mobile_post_path(post.id)

- if @posts.length == Post::DEFAULT_LIMIT and !@no_more
  = link_to "MORE", url_for(params.merge({:before=>@posts.last.id}))
