<% user = User.kv_find(comment.user_id) %>
<div class="comment">
  <div class="comment-left">
    <%= link_to my_image_tag(user.p_, :dimensions=>32), profile_path(user.username) %>
  </div>
  <div class="comment-right">
    <div class="comment-text">
      <%= link_to user.fullname, profile_path(user.username), :class=>'comment-fullname' %>
      <%= my_post_links Post.kv_find_id(comment.id).body %>
    </div>
    <div class="comment-actions">
      <%= content_tag :span, nice_time(comment.created_at), :class=>'comment-time' %>
      <% if cu_ro %>
        <%= post_actions_link T.t('page.post.actions.like'),
                              post_like_path(comment),
                              'les',
                              :remote=>true, :'data-method'=>:post, :class=>'like_it' %>
        <%= post_actions_link T.t('page.post.actions.trash'),
                              comment,
                              'comme',
                              :class=>'delete-comment', :remote=>true, :confirm => 'Are you sure?', :method => :delete if [comment.user_id, comment.post.user_id].include? cu_ro.id %>
     <% end %>
    </div>
  </div>
  <div class="clear">
  </div>
</div>
