<% user = User.kv_find(post.user_id) %>
<%# original_post = post.post || post %>

              <%#= raw "<span style='color:#fff;font-weight:bold;'>R</span>" if comment.repost? %>

<div
  data-post-id="<%= post.id %>"
  class="post<%= ' page-last' if @posts && @posts.last == post %>"
  data-comments-url="<%= post_ajax_comments_path(post, :limit=>(page_post_show? ? 50 : 3)) %>"
  data-comments-target="#post-<%= post.id %>-comments"
  >
  <div class="post-left">
    <%= link_to my_image_tag(user.p_, :dimensions=>64), profile_path(user.username) %>
  </div>
  <div class="post-right">
    <div class="who">
      <%= link_to user.fullname, profile_path(user.username), :class=>'fullname' %>
      <%= link_to_username_mention(user.username) %>
    </div>
    <div class="text">
      <%= my_post_links post.cached_body %>
    </div>

<%#  YOUTUBE IS EQUAL TO POST FILES   %>


<% youtube(post.cached_body).each do |iframe| %>

  <div class="line-files">
  </div>
  <%= raw iframe %>
  
  <div class="line-last">
  </div>
    
<% end %>

<%#  YOUTUBE IS EQUAL TO POST FILES   %>
    

    <% if post.post_files.size > 0 %>
      <% post.post_files.each do |pf| %>
        <% if pf.image? %>
          <div class="line-files">
          </div>
          <%= link_to image_tag(pf.image.url), pf.image.url, :class=>'thumbnail', :rel=>'thumbnail' %>
          <div class="file-get">
            <%= raw "#{content_tag :strong, pf.cod} #{T.t('page.post.file.views').capitalize}" %>
            <%= link_to T.t('page.post.file.download').downcase, pf.image.url, :target=>'_blank' %>
            <%= link_to T.t('page.post.file.view_all').downcase, '/' %>
          </div>
        <% end %>
      <% end %>
      <div class="line-last">
      </div>
    <% end %>

    
    
    
    <div class="actions" style="margin-bottom:5px">
      <%= post_actions_link "#{nice_time(post.created_at)} via #{post.origin}",
                            url_for(post),
                            'source-site',
                            :class=>'time', :'data-time'=>post.created_at.to_i %>
      <% if cu_ro %>
      <%= post_actions_link T.t('page.post.actions.like').capitalize,
                            post_like_path(post),
                            'action-like',
                            :remote=>true, :'data-method'=>:post, :class=>'like_it' %>
                            <%# and !cu_ro.likes?(post.id) %>
      <%= post_actions_link T.t('page.post.actions.comment').capitalize,
                            '#',
                            'action-comment',
                            :class=>'toggle_comment' if can_comment?(post) %>
      <%= post_actions_link 'x',
                            post,
                            'action-delete',
                            :class=>'delete-post',
                            :remote=>true,
                            :confirm => T.t('page.post.actions.trash_confirm').capitalize,
                            :method => :delete if post.user_id == cu_ro.id %>
      <% end %>
    </div>
    <% condition_1 = post.likes.size > 0 %>
    <% condition_2 = post.posts.size > 0 && !page_post_show? %>
    <% if condition_1 || condition_2 %>
    <div class="info_box">
      <% if condition_1 %>
      <div class="info">
        <%= content_tag :small, '', :class=>'icon-color action-like' %>
        <%= content_tag :p do %>
          <%= link_to "#{post.likes.size} #{T.t('page.post.details.user_s')}",
                      post_ajax_likes_path(post, :update=>"post-#{post.id}-likes", :format=>:js),
                      :remote=>true
                      %>
          <%= T.t('page.post.details.liked_this') %>
        <% end %>
      </div>
      <% end %>
      <% if condition_2 and false %>
      <div class="info">
        <%= content_tag :small, '', :class=>'icon-color action-repost' %>
        <% content_link = link_to "#{post.posts.size} #{T.t('page.post.details.repost_s')}", post %>
        <%= content_tag :p do %>
          <%= raw "#{T.t('page.post.details.received')} #{content_link}" %>
        <% end %>
      </div>
      <% end %>
      <% if condition_2 %>
      
      <div class="info">
        <%= content_tag :small, '', :class=>'icon-color action-comment' %>
        <% content_link = link_to T.t('page.post.details.show_all_x_comments', :count=>post.posts.size), post %>
        <%= content_tag :p do %>
          <a href="#" rel="post-comments-loader"
            data-url="<%= post_ajax_comments_path(post) %>"
            data-target="#post-<%= post.id %>-comments"
            >
            <%= T.t('page.post.details.show_all_x_comments', :count=>post.posts.size) %>
          </a>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %>

    <div id="post-<%= post.id %>-likes" class="likes">
    </div>
    <div id="post-<%= post.id %>-comments" class="comments">
    </div>
    
    <%= render '/posts/post_commenting', :post=>post if can_comment?(post) %>

  </div>
  <div class="clear">
  </div>
</div>
<% if page_post_show? %>
<script>
  $('#post-<%= post.id %>-comments').load('/p/<%= post.id %>/ajax_comments');
</script>
<% end %>
