<% if @user.born_city %>
<h2>Nasceu Em</h2>
<% cache [:city, @user.born_city.id, :image], :expires_in => 5.minutes do %>
  <% GoogleAjax.referer = request.host %>
  <% url = GoogleAjax::Search.images(@user.born_city.label)[:results].sample[:unescaped_url] %>
  <p><%= my_image_tag url, :dimensions => 210 %></p>
<% end %>
<%#= link_to @user.born_city.name, city_label_path(@user.born_city.label) %>
<p><%= link_to @user.born_city.l_,   city_label_path(@user.born_city.label) %></p>
<% end %>
<h2>Patrocinado</h2>
<%= google_ads %>
<% if @user.living_city %>
<h2>Mora Em</h2>
<% cache [:city, @user.living_city.id, :image], :expires_in => 5.minutes do %>
  <% GoogleAjax.referer = request.host %>
  <% url = GoogleAjax::Search.images(@user.living_city.label)[:results].sample[:unescaped_url] %>
  <p><%= my_image_tag url, :dimensions => 210 %></p>
<% end %>
<%#= link_to @user.living_city.name, city_label_path(@user.living_city.label) %>
<p><%= link_to @user.living_city.l_,   city_label_path(@user.living_city.label) %></p>

<% end %>
