<% if false %>
<div  id="sidebar_user_list"
          class="users"
          data-ajaxload-event="load"
          data-ajaxload-url="<%= user_ajax_relations_sidebar_friend_url(@user) %>"
          data-ajaxload-target="#sidebar_user_list"
          >
<% end %>

  <div class="users">
    <div class="user">
      <%= link_to my_image_tag(@city.image_url, :dimensions=>32), :e_photo, :class=>'photo' %>
      <%= link_to @city.name, city_label_path(@city.label), :class=>'strong' %>
      <br/>
      <%= link_to @city.l_, city_label_path(@city.label) %>
    </div>
  </div>
  
  <div class="clear line">
  </div>

  <%= link_to "Moradores de #{@city.l_}", '/', :class=>"list-title strong" %>
  <div class="users">
    <% @city.living_users.limit(20).order('updated_at DESC').each do |user| %>
    <div class="user">
      <%= link_to image_tag(user.p_, :width=>48, :height=>48), profile_path(user.username), :class=>'photo' %>
      <%= link_to user.fullname, profile_path(user.username), :class=>'strong' %>
      <br/>
      <%= link_to_username_mention user.username %>
      <div class="clear">
      </div>
    </div>
  <% end %>
  </div>
