<%= render '/sponsor_col2' %>

<p></p>

<%= content_tag :h2, "Nasceram em #{@city.l_}" %>
<div class="users">
  <% @city.born_users.limit(20).order('updated_at DESC').each do |user| %>
  <div class="user">
    <%= link_to my_image_tag(user.p_, :dimensions=>64), profile_path(user.username), :class=>'photo' %>
    <%=  %>
    <%= link_to user.fullname, profile_path(user.username), :class=>'strong' %>
    <br/>
    <%= link_to_username_mention user.username %>
    <div class="clear">
    </div>
  </div>
<% end %>
</div>

<%= render '/sponsor_col2' %>

<p></p>

<h2>Fotos</h2>
<% cache [:city, @city.id, :imagelist], :expires_in => 7.days do %>
  <% GoogleAjax.referer = request.host %>
  <% GoogleAjax::Search.images(@city.label)[:results].each do |result| %>
    <% url = result[:unescaped_url] %>
    <p><%= link_to my_image_tag(url, :dimensions => 210), city_label_path(@city.label) %></p>
  <% end %>
<% end %>

