<h1>Listing cities</h1>

<table>
  <tr>
    <th>City base</th>
    <th>City</th>
    <th>Name</th>
    <th>Label</th>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cities.each do |city| %>
  <tr>
    <td><%= city.city_base %></td>
    <td><%= city.city %></td>
    <td><%= city.name %></td>
    <td><%= city.label %></td>
    <td><%= city.data %></td>
    <td><%= link_to 'Show', city %></td>
    <td><%= link_to 'Edit', edit_city_path(city) %></td>
    <td><%= link_to 'Destroy', city, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New City', new_city_path %>
