<p id="notice"><%= notice %></p>

<p>
  <b>City base:</b>
  <%= @city.city_base %>
</p>

<p>
  <b>City:</b>
  <%= @city.city %>
</p>

<p>
  <b>Name:</b>
  <%= @city.name %>
</p>

<p>
  <b>Label:</b>
  <%= @city.label %>
</p>

<p>
  <b>Data:</b>
  <%= @city.data %>
</p>


<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
