<%= form_for @user, :url=>request.url do |f| %>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="label">
  <%= f.label :username %>:
</div>
<div class="field">
  <%= f.text_field :username %>
</div>
<div class="clear">
</div>

<div class="label">
  <%= f.label :current_password %>:
</div>
<div class="field">
  <%= f.password_field :current_password %>
</div>
<div class="clear line">
</div>

<div class="actions">
  <%= f.submit 'save', :class=>'ui-button' %>
</div>
      

<% end %>
