<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @suggestion.user_id %>
</p>

<p>
  <b>Text:</b>
  <%= @suggestion.text %>
</p>


<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
