
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this form from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_tag :create_password do %>
  <%= hidden_field_tag :token, params[:token] %>
  <%= hidden_field_tag :username, params[:username] %>
  <%= content_tag :p, "email: #{@user.email}" %>
  <%= content_tag :p, "username: #{@user.username}" %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag %>
<% end %>
