<% unless controller.controller_name == 'user_sessions' %>
  <div class="subheader">
    <div class="left">
      <%= form_for UserSession.new do |f| %>
        <table cellspacing="0">
          <tbody>
            <tr>
              <td>
                <%= label_tag "", "#{T.t('subheader.login.field1')}:" %>
              </td>
              <td>
                <%= label_tag "", "#{T.t('subheader.login.field2')}:" %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.text_field :key %>
              </td>
              <td>
                <%= f.password_field :password %>
              </td>
              <td>
                <%= f.submit T.t('subheader.login.button') %>
              </td>
            </tr>
            <% if false %>
            <tr>
              <td>
              </td>
              <td>
                <%= link_to T.t('subheader.login.forgot1'), '/' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <% end %>
    <% unless ['registration', 'user_sessions'].include? controller.controller_name %>
    <div class="right">
      <%= link_to T.t('subheader.register'), :new, :class=>"ui-button" %>
    </div>
  </div>
<% end %>
