<!DOCTYPE html>
<html>
<head>
  <title>Executter</title>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="/favicon.ico" />
<%#'ContextMenu', %>
<%= stylesheet_link_tag 'smoothness/jquery-ui',
                        'ContextMenu', 'colorbox', 'token-input-executter',
                        'application' %>

<%= javascript_include_tag  'jquery-1.6.4.min',
                            'jquery-ui.min',
                            'rails',
                            'jquery.tokeninput',
                            'jquery.colorbox-min',
                            'executter.custom.functions',
                            'executter.custom.instructions' %>


  <% if !['registration', 'user_sessions'].include?(controller.controller_name) and @user %>
  <style>
      body {
        background-color: <%= @user.theme.background_color %>;
        <% if @user.theme.image? %>
        background-image: url(<%= @user.theme.image.url %>);
        <% end %>
      }
  </style>
  <% end %>
  <style>
  a.username-mention { color:#999 !important; }
  </style>
  
</head>
<body <%= page_css_ref %>>

<% if cu_ro %>
  <% cache [:header, I18n.locale, :user_id, cu_ro.id] do %>
    <%= render '/layouts/header' %>
  <% end %>
<% else %>
  <% cache [:header, I18n.locale, :logged_out] do %>
    <%= render '/layouts/header' %>
  <% end %>
  <%= render '/layouts/subheader' %>
<% end %>


<div class="wrapper body">
  <%= yield_with_sub_layout(yield) %>
  <div class="clear">
  </div>
</div>

<%= render '/layouts/footer' %>
<%= bitly %>

</body>
<script type="text/javascript">
  CONTROLLER = "<%= controller.controller_name %>";
  ACTION = "<%= controller.action_name %>";
  RAILS_ENV = "<%= Rails.env %>";
  MY_ENV = "<%= My.env %>";
  
  $(function() {
    functions.application.youtube.append_behaviour();
	  <%= yield :jsload %>
  });
</script>
<%= google_analytics %>
</html>
